language: c
env:
  global:
  - ARDUINO_VERSION=1.8.12
  - BD=esp8266:esp8266:d1:xtal=80,eesz=4M3M
before_install:
- "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
- sleep 3
- export DISPLAY=:1.0
- wget http://downloads.arduino.cc/arduino-${ARDUINO_VERSION}-linux64.tar.xz
- tar xf arduino-${ARDUINO_VERSION}-linux64.tar.xz
- sudo mv arduino-${ARDUINO_VERSION} /usr/local/share/arduino
- sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
- ln -s $PWD /usr/local/share/arduino/libraries/co2
- arduino --pref "boardsmanager.additional.urls=http://arduino.esp8266.com/stable/package_esp8266com_index.json" --save-prefs
- arduino --install-library "ArduinoJson:6.14.1"
- arduino --install-library "DHT sensor library:1.2.3"
- arduino --install-library "LiquidCrystal I2C:1.1.2"
- arduino --install-boards esp8266:esp8266
- arduino --board esp8266:esp8266:generic --save-prefs
- arduino --pref "compiler.warning_level=all" --save-prefs
- cp WiFiCreds.h.sample WiFiCreds.h
- cp dataServer.h.sample dataServer.h
script:
- "echo $PWD"
- "echo $HOME"
- "ls $PWD"
- "echo $BD"
- arduino --verify --board $BD $PWD/arduino-esp8266-mh-z19-serial.ino
notifications:
  email:
    on_success: change
    on_failure: change
